*{
    margin: 0;
    padding: 0;
}
.box{
    width: 240px;
    height: 350px;
    border-top: 4px solid #ff8400;
    border-left: 1px solid #d9e0ee;
    border-right: 1px solid #d9e0ee;
    border-bottom: 1px solid #d9e0ee;
    margin: 125px 125px;
}
div .title{   
    border-bottom: 1px solid #d9e0ee;
    padding-top: 3px;
    padding-left: 10px;
}
div span{
    font-size: 18px;
    height: 44px;
    line-height: 44px;
}
.box .pic img{
    margin-left: 10px;
    margin-top: 9px;
    border-bottom: 1px solid #996611;
}
.box ul{
    margin-left: 10px;
    margin-top: 18px;
    list-style: none;
}
.list a{
    font-size: 13px;
    color: #666666;
    margin-left: 10px;
    text-decoration: none;
}
.box .list li{
    background-image: url(images/square.png);
    background-repeat: no-repeat;
    background-position: left center; 
}